@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
	--black: #333;
	--white: #fff;
	--light-color: #cdaa7c;
	--light-gray: #e6e7e7;
	--box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

body {
	background: var(--black);
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	text-transform: capitalize;
	transition: all 0.2s linear 0s;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.center {
	text-align: center;
}


/* header part starts */
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: var(--black);
	padding: 1rem 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: var(--box-shadow);
	z-index: 1000;
}

header .logo img {
	height: auto;
}

header .navbar a {
	font-size: 1.7em;
	padding: .5rem 1.5rem;
	color: var(--light-color);
	border: .1rem solid transparent;
}

header .navbar a.active,
header .navbar a:hover {
	color: var(--white);
	border: .1rem solid rgba(205, 170, 124, .2)
}

header .icons i {
	cursor: pointer;
	margin-left: .7rem;
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	background: var(--black);
	text-align: center;
	font-size: 1.7em;
	color: var(--white);
	border-radius: 5px;
}

header .icons i:hover {
	background: var(--light-color);
	transform: scale(1.1);
}

header .icons #menu {
	display: none;
}

/* header part ends */


/* slider section starts */
.home .home-slider .slide {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
}

.home .home-slider .slide_1 {
	background: url("img/slideshow-9.jpg");
}

.home .home-slider .slide_2 {
	background: url("img/slideshow-11.jpg");
}

.home .home-slider .slide_3 {
	background: url("img/slideshow-8.jpg");
}

.home .home-slider .slide_1,
.home .home-slider .slide_2,
.home .home-slider .slide_3 {
	background-size: cover;
	background-repeat: no-repeat;
}

.home .home-slider .slide .content {
	text-align: center;
	padding-left: 9rem;
}

.home .home-slider .slide .content h3 {
	color: var(--light-color);
	font-size: 3rem;
	font-weight: 300;
}

.home .home-slider .slide .content h1 {
	color: var(--white);
	font-size: 8rem;
}

.home .home-slider .slide .content p {
	color: var(--light-gray);
	font-size: 1.8rem;
	letter-spacing: 1px;
	padding: .5rem 0;
	line-height: 1.5;
	font-weight: 200;
}

.btn {
	margin-top: 1rem;
	display: inline-block;
	font-size: 1.7rem;
	color: var(--white);
	border: .1rem solid rgba(205, 170, 124, 0.2);
	cursor: pointer;
	padding: .8rem 3rem;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.btn:before {
	content: "";
	height: 100%;
	width: 100%;
	background: var(--light-color);
	position: absolute;
	z-index: -1;
	top: 0;
	left: -100%;
	transition: left 0.3s ease 0s;
}

.btn:hover {
	color: var(--black);
}

.btn:hover.btn:before {
	left: 0;
}

.swiper-pagination-bullet {
	background: var(--light-color);
	width: 15px;
	height: 15px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 10px 15px;
}

/* slider section ends */


/* welcome section ends */
.section {
	padding: 8rem 9%;
}

.welcome {
	background: var(--white);
}

.heading {
	text-align: center;
	color: var(--black);
	font-size: 4.5rem;
	padding-bottom: 2rem;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}

.sub-heading {
	display: flex;
	justify-content: center;
}

.sub-heading h3 {
	text-align: center;
	color: var(--light-color);
	font-size: 2.5rem;
	padding: .5rem 2rem;
	font-weight: 300;
	margin-bottom: 4rem;
	background: var(--black);
}

.welcome .box-container {
	display: flex;
	gap: 1.5rem;
}

.welcome .box-container .box {
	width: 33%;
	background: var(--black);
	box-shadow: var(--box-shadow);
	text-align: center;
}

.welcome .box-container .box .image {
	height: 25rem;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.welcome .box-container .box .image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.welcome .box-container .box .image:hover img {
	transform: scale(1.1);
}

.welcome .box-container .box .content {
	padding: 2rem;
	padding-top: 2rem;
}

.welcome .box-container .box .content h3 {
	color: var(--light-color);
	font-size: 2.2rem;
	font-weight: 400;
}

.welcome .box-container .box .content p {
	color: var(--white);
	margin-top: 0.7rem;
	font-size: 1.4rem;
	line-height: 2rem;
	font-weight: 300;
}

.welcome .box-container .box .content .btn {
	margin-top: 3rem;
}

/* welcome section ends */


/* our-menu section starts */

.our-menu {
	background: url("img/our-menu-bg-1.png") left top no-repeat, url("img/our-menu-bg-3.jpg");
}

.our-menu .menu-container {
	padding: 3rem 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50rem, 2fr));
	gap: 5rem 10rem;
}

.our-menu .menu-container .item .item-name {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	margin-top: .5rem;
}

.our-menu .menu-container .item .item-name h2 {
	font-size: 3rem;
	color: #e5e5e5;
	font-weight: 300;
}

.our-menu .menu-container .item .item-menu h3 {
	font-size: 2rem;
	color: #e5e5e5;
	font-weight: 200;
	display: inline-block;
}

.our-menu .menu-container .item .item-menu span {
	width: 37%;
	display: inline-block;
	border: 1px dotted #e5e5e5;
}

.our-menu .menu-container .item .item-menu ul {
	display: flex;
	font-size: 1rem;
	list-style: none;
	padding: .8rem 0;
	font-weight: 200;
}

.our-menu .menu-container .item .item-menu ul li a {
	color: #b9b9b9;
	font-size: 1.3rem;
}

.our-menu .menu-container .item .menu-item {
	padding: .5rem 0;
}

/* our-menu section ends */

/* our-team section starts */
.our-team {
	background: var(--white);
}

.our-chef {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	grid-gap: 1.5rem;
}

.our-chef .item {
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.our-chef .item:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 5;
}

.our-chef .item:hover.item:before {
	display: block;
}

.our-chef .item .image img{
	width: 100%;
}

.our-chef .item .chef-info {
	position: absolute;
	top: 130%;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 10;
	text-align: center;
	transition: 1s;
}

.our-chef .item .chef-info h3 {
	font-size: 1.7rem;
	color: var(--white);
	padding: .8rem 0;
	text-transform: uppercase;
}

.our-chef .item .chef-info span {
	font-size: 1.7rem;
	color: var(--light-color);
	letter-spacing: 1px;
	font-weight: 300;
}

.our-chef .item .chef-info ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding: 3rem 0;
}

.our-chef .item .chef-info ul li a {
	color: #b9b9b9;
	font-size: 2.2rem;
	transition: all 0.3s ease 0s;
}

.our-chef .item .chef-info ul li a:hover{
	color: var(--light-color);
}

.our-chef .item:hover .chef-info{
	top: 0;
}
/* our-team section ends */

/* reservation section starts */
.reservation {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	background: var(--white);
}

.reservation .image {
	width: 55%;
	background: url("img/book-a-table.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 9rem;
}

.reservation .form {
	background: #181818;
	width: 45%;
	padding: 9rem 7%;
}

.reservation .form h1 {
	color: var(--white);
}

.reservation .form-holder {
	display: flex;
	justify-content: center;
	grid-gap: 3rem;
	width: 100%;
}

.reservation .form form input,
.reservation .form form select {
	display: block;
	margin:  2rem 0;
	width: 100%;
	background: none;
	border-bottom: .1rem solid #b7b3b3;
	color: #b7b3b3;
	font-size: 1.8rem;
	font-weight: 300;
}

.reservation .form form input::placeholder {
	color: #b7b3b3;
}

/* reservation section ends */


/* The section news starts */

.blog.section {
	background: var(--white);
}

.blog .box-container .box{
	background: var(--white);
}

.blog .content {
	text-align: left;
	position: relative;
}

.blog .content h3, 
.blog .content p,
.blog .content a {
	color: #333!important;
}

.blog .content a {
	display: inline-block;
	font-size: 14px;
	padding-top: 1rem;
	text-transform: uppercase;
	text-decoration: underline;
}

.blog .content img {
	width: 11%;
	position: absolute;
	right: 10px;
	bottom: 10px;
}


/* The section news ends */

/* ================================================================================== */

/* media query  */
@media (max-width: 991px) {
	html {
		font-size: 55%;
	}

	header {
		padding: 1rem 2rem;
	}

	header .logo img {
		height: 7rem;
	}

	.our-menu .menu-container {
		grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
	}

	.our-menu .menu-container .item .item-menu span {
		width: 15%;
	}
}

@media (max-width: 768px) {

	header {
		padding: .9rem 2rem;
	}

	header .logo img {
		height: 6rem;
	}

	/* navbar media query */
	header .icons #menu {
		display: inline-block;
	}

	header .navbar {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #eee;
		border-top: .1rem solid rgba(205, 170, 124, .2);
		border-bottom: .1rem solid rgba(205, 170, 124, .2);
		padding: 1rem;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}

	header .navbar.active {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	header .navbar a {
		display: block;
		padding: 1.5rem;
		margin: 1rem;
		font-size: 2rem;
		background: var(--black)
	}

	/*slider media query*/
	.home .home-slider .slide {
		justify-content: center;
	}

	.home .home-slider .slide .content {
		padding: 0;
	}

	.home .home-slider .slide .content img {
		max-width: 80%;
	}

	.home .home-slider .slide .content h1 {
		font-size: 5rem;
	}

	/*welcome section*/
	.welcome .box-container {
		flex-wrap: wrap;
	}

	.welcome .box-container .box {
		width: 100%;
	}

		/*reservation section*/
		.reservation .image {
			width: 0;
		}

		.reservation .form {
			width: 100%;
		}

		.reservation .form .form-holder {
			display: block;
		}
}